# Copy to .env.production and customize before deployment.
# Do not commit .env.production.

PUBLIC_HOSTNAME=hunt.example.com
POSTGRES_DB=digihunt
POSTGRES_USER=digihunt
ACCESS_TOKEN_EXPIRE_MINUTES=480
